.user-signin
  .user-category
    .user-category__top 新規会員登録
    .user-category__fut
      .login-category
        = link_to user_registration1_signup_index_path, class: 'login-category__email' do
          = fa_icon 'envelope', class: 'icon'
          メールアドレスで登録する