.signup-view-1page
  %section.signup-view-block
    %h2.signup-view-block__explanation 
      会員登録完了

    .signup-view-block__form
      .signup-view-block__form--top
        .signup-form5
          %p.signup-form5-text
            ありがとうございます。
          %br
            会員登録が完了しました。
        .signup-form5-submit
          = link_to( "買い物を始める", root_path, class: "signup-form5-input")