.signup-view-1page
    %section.signup-view-block
      %h2.signup-view-block__explanation 
        購入完了

      .signup-view-block__form
        .signup-view-block__form--top
          .signup-form5
            %p.signup-form5-text
              ありがとうございます。
            %br
              商品の購入が完了しました。
          .signup-form5-submit
            = link_to( "トップページへ戻る", root_path, class: "signup-form5-input")
