// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-container-header {
  height: 128px;
  text-align: center;
  display: block;
  &__left {
    margin: 40px 0 0;
    display: inline-block;
    .signup-home-image {
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
    }
  }
  .user-signup-bar {
    padding: 40px 0 0 44px;
    display: inline-block;
    vertical-align: top;
    .user-signup-bar-progress {
      list-style: none;
      &__type-red {
        color: #ea352d;
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
      }
      &__rod-red {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ea352d;
      }
      &__rod-red::after {
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &__type {
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
        color: #888;
      }
      &__rod {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
      }
      &__rod::before {
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &__rod::after {
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &__rod-last {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
      }
      &__rod-last::before {
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
    .user-signup-bar-progress::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
.signup-view-1page {
  display: block;
  .signup-view-block {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__explanation {
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      color: rgb(51, 51, 51);
      font-weight: bold;
    }
    &__form {
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &--top {
        max-width: 343px;
        margin: 0 auto;
        .signup-form1 {
          margin: 10px 0 0;
          .signup-form1-fullname {
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
          }
          &__label {
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
          }
          &__span {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__span-any {
            background: #ccc;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__form {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__identification {
            font-size: 16px;
            font-weight: bold;
            padding: 10px 0 0 0;
          }
          &__explanation {
            margin: 8px 0 0;
            padding: 0;
            line-height: 1.5;
            font-size: 14px;
          }
          &__last-name {
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            margin-right: 8px;
            width: calc(50% - 6px);
            float: left;

          }
          &__first-name {
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: calc(50% - 6px);
          }
          .birthday-form {
            .signup-birthday {
              width: 76px;
              height: 48px;
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
          }
          .credit-image {
            width: 100%;
            height: 70px;
          }
        }
        .password-open-btn {
          top: 50%;
          left: 0;
          z-index: 1;
          width: 20px;
          height: 20px;
          border-radius: 2px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 10px;
          line-height: 17px;
          text-align: center;
          color: #fff;
          vertical-align: middle;
          cursor: pointer;
        }
        .password-open-text {
          position: relative;
          z-index: 2;
          padding: 0 0 0 2px;
          font-size: 14px;
          font-weight: 400;
          vertical-align: middle;
          cursor: pointer;
          display: inline-block;
        }
        .caution-statement {
          font-size: 14px;
          margin: 8px;
          line-height: 1.5;
          color: #888;
        }
        .recaptcha-block {
          max-width: 343px;
          margin: 0 auto;
          .recaptcha-block-frame {
            transform: none;
            &__btn {
              text-align: center;
              color: red;
            }
          }
          .caution-statement-block {
            margin-top: 32px;
            .caution-statement-block-text {
              line-height: 1.5;
              font-size: 14px;
              color: #333333;
              text-align: center;
              text-decoration: none;
              .caution-statement-block-link {
                color: #0099e8;
                text-decoration: none;
                font-size: 14px;
              }  
            }
          }
        }
        .signup-next-submit {
          margin-top: 32px;
          margin: 24px 0 0;
          input {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
        .signup-text-right {
          margin-top: 32px;
          .signup-text-content {
            display: block;
            text-align: right;

            .signup-text-link {
              color: #0099e8;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
      &__bottom {
        max-width: 343px;
        margin: 0 auto;
      }
    }
  }
}