.pay__show__wrapper
  .box-inner
    .a-row
      %strong.a-size-medium 購入にあたり注意事項
      %hr.a-spacing-mini.a-spacing-top-small/
    .a-row.payment-row
      .vertical-center-grid
        .cashOnDeliveryCash
          %strong ボタンクリックで購入が可能です。
      
    .a-spacing-large
    .else__wrapper
      お支払い方法
      
    